*.o
*.ppu
*.defs
uninstall-*.sh
.DS_Store
*.log
tests/benchmark
tests/testallalgs
tests/testallconts
tests/testdarray
tests/testmem
tests/testsegarray
tests/teststralgs
tools/mcp
tools/mkdeps
tools/mktempl
*.dep
deps.mak
*_impl.mcp
